.vscode
*.jar
libraries
cache
eula.txt
whitelist.json
banned-ips.json
banned-players.json
usercache.json
version_history.json
versions
logs
*.secret
world
world_nether
world_the_end
void
flat
testerw
plugins/Denizen/notables.yml
plugins/Denizen/server_flags.dat
logs/
